{% extends "base.html" %}
{% set active_page = "index" %}
{%  block title %}Главная{% endblock %}
{% block style %}
    {% include "inc-style.html" %}
{% endblock %}
{% block header %}
    {% include "inc-header.html" %}
{% endblock %}
{%  block content %}
<div id="site_content">
    {% block sidebar %}
        {% include "inc-sidebar.html" %}
    {% endblock %}
    <div id="content">
        <h1>Список курсов в категории {{ name }}</h1>
        <a href="/create-course/?id={{ id }}">Создать новый курс</a>
        <br><br>
        {% for item in objects_list %}
            <li>
                {{ item.name }} <span><a style="margin-left: 10px" href="/copy-course/?id={{ item.id }}">скопировать</a></span>
            </li>
        {% endfor %}
        <br>
        <a href="/">На Главную</a>
    </div>
</div>
{% endblock %}
{% block foooter %}
    {% include "inc-footer.html" %}
{% endblock %}