{% extends "base.html" %}
{% set active_page = "index" %}
{%  block title %}Главная{% endblock %}
{% block style %}
    {% include "inc-style.html" %}
{% endblock %}
{% block header %}
    {% include "inc-header.html" %}
{% endblock %}
{%  block content %}
<div id="site_content">
    {% block sidebar %}
        {% include "inc-sidebar.html" %}
    {% endblock %}
    <div id="content">
        <h1>Создание курса для категории "{{ name }}"</h1>
        <form method="post">
            <input type="text" name="name" placeholder="Название">
            <button type="submit">Сохранить и вернуться к списку курсов</button>
        </form>
        <a href="/courses-list/?id={{ id }}">назад</a>
    </div>
</div>
{% endblock %}
{% block foooter %}
    {% include "inc-footer.html" %}
{% endblock %}